/* head */
body {
  background-image: url("images/bakgr.jfif")
    }
h1 {
    color: 886F6F;
    font-family: "Lucida Handwriting" ;
    font-style: oblique;
    font-size:10vw;
    margin-left: 50px;
    margin-bottom: -50px
}
h2 {
  color: 886F6F;
  font-family: "Lucida Handwriting" ;
  font-style: oblique;
  margin-left: 400px;
  margin-top: 0px;
}
/*logo*/
div.logo {
margin-left: 1160px;
margin-top: -160px;
width: 80px;
height: 80px;
position: relative;
animation-name: example;
animation-duration: 4s;
animation-iteration-count: 30;
}    
@keyframes example {
  0%   { right:40px; top:0px;}
  25%  {right:60px; top:0px;}
  50%  { right:60px; top:px;}
  75%  { right:50px; top:0px;}
  100% { right:390px; top:0px;}
}

/*nav bar*/
a:link {
font-size: 20px; 
text-decoration: none;
font-family: "Lucida Handwriting";
font-style: oblique;
}
a:hover {
color: 480032;
}
li {
display: inline;
}
.nave {
background-color: EED7CE;
margin-top: 130px; 
padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}
li {
  float: right;
}
  li a {
    padding: 20px;
  }
